/* add no margin and padding */
html,
body {
    height:100%;
    padding:0;
    margin:0;
    
}

/* black background */

.wrapper {
    min-width: 1050px;
    min-height: 100%;
    background-color: #141414;
}

.container {
    background-color: #efefee;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display:flex;
}

.column {
    background-color: #fff;
    min-height: 300px;
    max-height: 100%;
    width: 450px;
}

.column form {
    display: flex;
    flex-direction: column;

}

/* some css are inspired from tutorialspoint */
input[type=text], input[type=password] {
    width: 75%;
    padding: 15px 14px;
    margin: 5px 20px 20px 20px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  .column form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    font-size: medium;
    margin: 8px 0;
    width: 20%;
    text-align: center;
    opacity: 0.9;
  }

  .title {
      padding: 14px 20px ;
  }


/* preview Image and videos styling */
  .previewImage,
  .previewVideo {
      width: 100%;
  }
  
  .previewContainer {
      position: relative;
      display: flex;
  }
  
  .previewContainer.small {
      width: 230px;
      height: 129px;
      margin-right: 4px;
      display: inline-flex;
  }
  
  .previewContainer.small img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  /* this makes it grey overlay */
  .previewOverlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.3);
      position: absolute;
  }
  
  .previewOverlay .mainDetails h3 {
      color: #fff;
      font-size: 40px;
      margin: 15px 0;
  }
  
  .previewOverlay .mainDetails {
      position: relative;
      top: 35%;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
  }
  
  /* the button styling */
  .mainDetails button {
      background-color: rgba(51,51,51,0.4);
      color: #fff;
      border: none;
      min-width: 150px;
      padding: 0 38px;
      height: 50px;
      max-height: 50px;
      font-size: 18px;
      border-radius: 2px;
      margin-bottom: 15px;
      margin-right: 5px;
      cursor: pointer;
  }
  
  button i {
      color: inherit;
  }
  
  .mainDetails button:hover {
      background-color: #e6e6e6;
      color: #000;
  }


  
/* 
    under category
    a style for lists of cateogires and movies
*/
.category{
    display:flex;
    flex-direction: column;
    padding: 15px 0;
    margin : 20px;
}

/* 
    scrolling enabled
*/
.entities{
    overflow-x:auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;

}

/* custom scrollbar with color */
/* width, track, handle and over respectively */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #555; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #141414; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #141414; 
  }


  /* error message in constants */
  .errorMessage{
    width: 100%;
    position: absolute;
    color: white;
    font-size: 5vh;
    text-align: center;
    top:30%;
    size: 30%;

  }

  .watchWrapper{
      width: 100%;
    display: block;
    color: white;
  }

  /* under Preview Text color for each movie */
  .movieTextColor{
    color:white;
  }

  .ratingTextColor{
    color: #f5c518;
  }

